header{
    background: white;
}

hr {
  clear: both;
  }

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    color: rgb(120, 120, 120);
    height: 25px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.2s;
}

nav a:hover {
    color: rgb(60, 60, 60);
}

nav a:active{
    color: black;
}

.container {
    <!-- width: 80%; -->
    margin: 0 auto;
}

.logo {
    float: left;
    width: 300px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    padding: 10px 0;
}

.thumbnail {
    float: right;
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    padding: 10px 0;
}


h1 {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}
h2 {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}
p {
    font-family: 'Segoe UI';
    font-size: 15px;
    color: rgb(40, 40, 40);
    margin-top: 5px;
}